@layer yl-dialog {
  .yl-dialog {
    position: absolute;
  }

  body:has(.yl-dialog-dialog-container) {
    overflow: hidden;
  }
  .yl-dialog-dialog-container {
    inline-size: 100vw;
    block-size: 100vh;

    position: fixed;

    top: 0px;
    left: 0px;

    z-index: 99999999999;
  }
  .yl-dialog-dialog-container .yl-dialog-container-background {
    inline-size: 100%;
    block-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background-color: rgba(0, 0, 0, 0.276);
  }

  .yl-dialog-dialog-container
    .yl-dialog-container-background
    .yl-dialog-container-close-area {
    inline-size: 100%;
    block-size: 100%;

    position: absolute;

    top: 0px;
    left: 0px;

    z-index: 1;
  }
  .yl-dialog-dialog-container
    .yl-dialog-container-background
    .yl-dialog-container-content {
    position: relative;
    z-index: 5;

    padding: 40px;
    background-color: white;
    border-radius: 4px;

    opacity: 0;
  }

  .yl-dialog-dialog-container
    .yl-dialog-container-background
    .yl-dialog-container-content.enter {
    animation: slideLeftInSmall ease-in-out 300ms forwards;
  }
  .yl-dialog-dialog-container
    .yl-dialog-container-background
    .yl-dialog-container-content.exit {
    animation: slideLeftOutSmall ease-in-out 300ms forwards;
  }
}
