@layer yl-layout{
    @media (1024px <= width < 1280px){
      
      /**********************Vars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-1024-1280 : var(--yl-masked-image-mask-image-1024-1920);--yl-masked-image-mask-position-1024-1280 : var(--yl-masked-image-mask-position-1024-1920);--yl-masked-image-mask-size-1024-1280 : var(--yl-masked-image-mask-size-1024-1920);--yl-masked-image-mask-repeat-1024-1280 : var(--yl-masked-image-mask-repeat-1024-1920); 
  } 
  /**************************Styles********************************/
  /**********************************************************/
  .yl-masked-image{
    mask-image: var(--yl-masked-image-mask-image-1024-1280);mask-repeat: var(--yl-masked-image-mask-repeat-1024-1280);mask-position: var(--yl-masked-image-mask-position-1024-1280);mask-size: var(--yl-masked-image-mask-size-1024-1280); 
      } 
  

      
      /**********************HoverVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-1024-1280-hover : var(--yl-masked-image-mask-image-1024-1920-hover);--yl-masked-image-mask-position-1024-1280-hover : var(--yl-masked-image-mask-position-1024-1920-hover);--yl-masked-image-mask-size-1024-1280-hover : var(--yl-masked-image-mask-size-1024-1920-hover);--yl-masked-image-mask-repeat-1024-1280-hover : var(--yl-masked-image-mask-repeat-1024-1920-hover); 
  } 
  /**************************HoverStyles********************************/
  /**********************************************************/
  .yl-masked-image:hover{
    mask-image: var(--yl-masked-image-mask-image-1024-1280-hover);mask-repeat: var(--yl-masked-image-mask-repeat-1024-1280-hover);mask-position: var(--yl-masked-image-mask-position-1024-1280-hover);mask-size: var(--yl-masked-image-mask-size-1024-1280-hover); 
      } 

      [data-parent-hover="true"]:hover .yl-masked-image:hover{
        mask-image: var(--yl-masked-image-mask-image-1024-1280-hover);mask-repeat: var(--yl-masked-image-mask-repeat-1024-1280-hover);mask-position: var(--yl-masked-image-mask-position-1024-1280-hover);mask-size: var(--yl-masked-image-mask-size-1024-1280-hover); 
          }  
 
      
      /**********************ParentHoverVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-1024-1280-parent-hover : var(--yl-masked-image-mask-image-1024-1920-parent-hover);--yl-masked-image-mask-position-1024-1280-parent-hover : var(--yl-masked-image-mask-position-1024-1920-parent-hover);--yl-masked-image-mask-size-1024-1280-parent-hover : var(--yl-masked-image-mask-size-1024-1920-parent-hover);--yl-masked-image-mask-repeat-1024-1280-parent-hover : var(--yl-masked-image-mask-repeat-1024-1920-parent-hover); 
  } 
  /**************************ParentHoverStyles********************************/
  /**********************************************************/
  [data-parent-hover="true"]:hover .yl-masked-image{
    mask-image: var(--yl-masked-image-mask-image-1024-1280-parent-hover);mask-repeat: var(--yl-masked-image-mask-repeat-1024-1280-parent-hover);mask-position: var(--yl-masked-image-mask-position-1024-1280-parent-hover);mask-size: var(--yl-masked-image-mask-size-1024-1280-parent-hover); 
      } 
  
 
      
      /**********************ChildHoverVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-1024-1280-child-hover : var(--yl-masked-image-mask-image-1024-1920-child-hover);--yl-masked-image-mask-position-1024-1280-child-hover : var(--yl-masked-image-mask-position-1024-1920-child-hover);--yl-masked-image-mask-size-1024-1280-child-hover : var(--yl-masked-image-mask-size-1024-1920-child-hover);--yl-masked-image-mask-repeat-1024-1280-child-hover : var(--yl-masked-image-mask-repeat-1024-1920-child-hover); 
  } 
  /**************************ChildHoverStyles********************************/
  /**********************************************************/
  .yl-masked-image:has([data-child-hover="true"]:hover) {
    mask-image: var(--yl-masked-image-mask-image-1024-1280-child-hover);mask-repeat: var(--yl-masked-image-mask-repeat-1024-1280-child-hover);mask-position: var(--yl-masked-image-mask-position-1024-1280-child-hover);mask-size: var(--yl-masked-image-mask-size-1024-1280-child-hover); 
      } 
  

      
      /**********************ActiveVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-1024-1280-active : var(--yl-masked-image-mask-image-1024-1920-active);--yl-masked-image-mask-position-1024-1280-active : var(--yl-masked-image-mask-position-1024-1920-active);--yl-masked-image-mask-size-1024-1280-active : var(--yl-masked-image-mask-size-1024-1920-active);--yl-masked-image-mask-repeat-1024-1280-active : var(--yl-masked-image-mask-repeat-1024-1920-active); 
  } 
  /**************************ActiveStyles********************************/
  /**********************************************************/
  .yl-masked-image:active{
    mask-image: var(--yl-masked-image-mask-image-1024-1280-active);mask-repeat: var(--yl-masked-image-mask-repeat-1024-1280-active);mask-position: var(--yl-masked-image-mask-position-1024-1280-active);mask-size: var(--yl-masked-image-mask-size-1024-1280-active); 
      } 

      [data-parent-active="true"]:active .yl-masked-image:hover{
        mask-image: var(--yl-masked-image-mask-image-1024-1280-parent-active);mask-repeat: var(--yl-masked-image-mask-repeat-1024-1280-parent-active);mask-position: var(--yl-masked-image-mask-position-1024-1280-parent-active);mask-size: var(--yl-masked-image-mask-size-1024-1280-parent-active); 
          }  
 
      
      /**********************ParentActiveVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-1024-1280-parent-active : var(--yl-masked-image-mask-image-1024-1920-parent-active);--yl-masked-image-mask-position-1024-1280-parent-active : var(--yl-masked-image-mask-position-1024-1920-parent-active);--yl-masked-image-mask-size-1024-1280-parent-active : var(--yl-masked-image-mask-size-1024-1920-parent-active);--yl-masked-image-mask-repeat-1024-1280-parent-active : var(--yl-masked-image-mask-repeat-1024-1920-parent-active); 
  } 
  /**************************ParentActiveStyles********************************/
  /**********************************************************/
  [data-parent-active="true"]:active .yl-masked-image{
    mask-image: var(--yl-masked-image-mask-image-1024-1280-parent-active);mask-repeat: var(--yl-masked-image-mask-repeat-1024-1280-parent-active);mask-position: var(--yl-masked-image-mask-position-1024-1280-parent-active);mask-size: var(--yl-masked-image-mask-size-1024-1280-parent-active); 
      } 
  

      
      /**********************ChildActiveVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-1024-1280-child-active : var(--yl-masked-image-mask-image-1024-1920-child-active);--yl-masked-image-mask-position-1024-1280-child-active : var(--yl-masked-image-mask-position-1024-1920-child-active);--yl-masked-image-mask-size-1024-1280-child-active : var(--yl-masked-image-mask-size-1024-1920-child-active);--yl-masked-image-mask-repeat-1024-1280-child-active : var(--yl-masked-image-mask-repeat-1024-1920-child-active); 
  } 
  /**************************ChildActiveStyles********************************/
  /**********************************************************/
  .yl-masked-image:has([data-child-active="true"]:active) {
    mask-image: var(--yl-masked-image-mask-image-1024-1280-child-active);mask-repeat: var(--yl-masked-image-mask-repeat-1024-1280-child-active);mask-position: var(--yl-masked-image-mask-position-1024-1280-child-active);mask-size: var(--yl-masked-image-mask-size-1024-1280-child-active); 
      } 
  

    } 
  }
