@layer yl-ui {
  /**************YL-Theme-Basic*************************/
  /**************yl-icon*************************/

  .yl-theme-basic .yl-icon {
    --yl-icon-inline-size: 28px;
    --yl-icon-block-size: 28px;

    --yl-icon-padding: 0px;

    --yl-icon-background-color: transparent;

    --yl-icon-color: rgb(53, 82, 169);
  }

  /**************yl-button*************************/
  .yl-theme-basic .yl-button {
    --yl-button-inline-size: auto;
    --yl-button-block-size: 56px;

    --yl-button-border-radius: 8px;
    --yl-button-border: none;

    --yl-button-background-color: auto;

    --yl-button-color: auto;
    --yl-button-font-size: 14px;
    --yl-button-font-weight: 500;
    --yl-button-text-transform: auto;
  }

  .yl-theme-basic .yl-button .yl-button-icon {
    --yl-icon-inline-size: 20px;
    --yl-icon-block-size: 20px;
  }

  /**************yl-button-size*************************/
  .yl-theme-basic .yl-button.yl-button-collapsed {
    --yl-button-block-size: min-content;
  }
  .yl-theme-basic .yl-button.yl-button-collapsed .yl-button-action {
    --yl-button-padding-inline: 8px;
    --yl-button-padding-block: 8px;
  }

  .yl-theme-basic
    .yl-button.yl-button-collapsed.yl-button-small
    .yl-button-action {
    --yl-button-padding-inline: 12px;
  }
  .yl-theme-basic
    .yl-button.yl-button-collapsed.yl-button-medium
    .yl-button-action {
    --yl-button-padding-inline: 16px;
  }

  .yl-theme-basic
    .yl-button.yl-button-collapsed.yl-button-large
    .yl-button-action {
    --yl-button-padding-inline: 20px;
  }

  .yl-theme-basic .yl-button.yl-button-collapsed .yl-button-icon {
    --yl-icon-inline-size: 12px;
    --yl-icon-block-size: 12px;
  }

  .yl-theme-basic .yl-button.yl-button-small .yl-button-action {
    --yl-button-padding-inline: 20px;
  }

  .yl-theme-basic .yl-button.yl-button-medium .yl-button-action {
    --yl-button-padding-inline: 32px;
  }
  .yl-theme-basic .yl-button.yl-button-large .yl-button-action {
    --yl-button-padding-inline: 48px;
  }

  .yl-theme-basic .yl-button:has(.yl-button-icon) {
    --yl-button-padding-block: 17px;
  }

  /**************yl-button-filled*************************/

  .yl-theme-basic .yl-button.yl-button-filled {
    --yl-button-background-color: #5072d7;

    --yl-button-box-shadow: 0px 3px 6px #00000010;

    --yl-button-color: #e8eaf0;
    --yl-button-font-size: 12px;
    --yl-button-font-weight: 600;
  }

  .yl-theme-basic .yl-button.yl-button-filled:has(.yl-button-action:hover) {
    --yl-button-background-color: #738edc;
    --yl-button-color: #ebedf3;
  }

  .yl-theme-basic .yl-button.yl-button-filled:has(.yl-button-action:active) {
    --yl-button-background-color: #455da3;
  }

  .yl-theme-basic .yl-button.yl-button-filled .yl-disabled-foreground {
    --yl-button-disabled-foreground-color: #00000027;
  }

  .yl-theme-basic .yl-button.yl-button-filled .yl-button-icon {
    --yl-button-icon-color: #dadfed;
  }

  .yl-theme-basic
    .yl-button.yl-button-filled:has(.yl-button-action:hover)
    .yl-button-icon {
    --yl-button-icon-color: #ebedf3;
  }

  .yl-theme-basic .yl-button.yl-button-filled span.yl-ripple {
    --yl-button-ripple-color: #e2e5ee89;
  }

  /**************yl-button-outlined*************************/

  .yl-theme-basic .yl-button.yl-button-outlined {
    --yl-button-background-color: transparent;

    --yl-button-color: #5072d7;
    --yl-button-border: 2px solid #5072d7;

    --yl-button-font-size: 12px;
    --yl-button-font-weight: 600;
  }

  .yl-theme-basic .yl-button.yl-button-outlined:has(.yl-button-action:hover) {
    --yl-button-background-color: #b8c6ed46;

    --yl-button-color: #6283e7;
    --yl-button-border: 2px solid #5c7de0;
  }

  .yl-theme-basic .yl-button.yl-button-outlined:has(.yl-button-action:active) {
    --yl-button-background-color: #93a5d673;

    --yl-button-color: #3c59b2;
    --yl-button-border: 2px solid #3351ab;
  }

  .yl-theme-basic .yl-button.yl-button-outlined span.yl-ripple {
    --yl-button-ripple-color: #3351ab89;
  }

  .yl-theme-basic .yl-button.yl-button-outlined .yl-disabled-foreground {
    --yl-button-disabled-foreground-color: #00000018;
  }

  .yl-theme-basic .yl-button.yl-button-outlined .yl-button-icon {
    --yl-button-icon-color: #3b5ab7;
  }

  .yl-theme-basic
    .yl-button.yl-button-outlined:has(.yl-button-action:hover)
    .yl-button-icon {
    --yl-button-icon-color: #6283e7;
  }

  .yl-theme-basic
    .yl-button.yl-button-outlined:has(.yl-button-action:active)
    .yl-button-icon {
    --yl-button-icon-color: #3c59b2;
  }

  .yl-theme-basic
    .yl-button.yl-button-outlined:has(.yl-button-spinner)
    .yl-button-action {
    visibility: hidden;
  }

  /**************yl-button-texted*************************/

  .yl-theme-basic .yl-button.yl-button-texted {
    --yl-button-background-color: transparent;

    --yl-button-color: #5072d7;

    --yl-button-font-size: 12px;
    --yl-button-font-weight: 600;
  }

  .yl-theme-basic .yl-button.yl-button-texted:has(.yl-button-action:hover) {
    --yl-button-background-color: #b8c6ed46;

    --yl-button-color: #6283e7;
  }

  .yl-theme-basic .yl-button.yl-button-texted:has(.yl-button-action:active) {
    --yl-button-background-color: #93a5d673;

    --yl-button-color: #3c59b2;
  }

  .yl-theme-basic .yl-button.yl-button-texted span.yl-ripple {
    --yl-button-ripple-color: #3351ab89;
  }

  .yl-theme-basic .yl-button.yl-button-texted .yl-disabled-foreground {
    --yl-button-disabled-foreground-color: #0000000f;
  }

  .yl-theme-basic .yl-button.yl-button-texted .yl-button-icon {
    --yl-button-icon-color: #5072d7;
  }

  .yl-theme-basic
    .yl-button.yl-button-texted:has(.yl-button-action:active)
    .yl-button-icon {
    --yl-button-icon-color: #3c59b2;
  }

  .yl-theme-basic
    .yl-button.yl-button-texted:has(.yl-button-spinner)
    .yl-button-action {
    visibility: hidden;
  }

  /**************yl-button-elevated*************************/

  .yl-theme-basic .yl-button.yl-button-elevated {
    --yl-button-background-color: #f1f3f8;

    --yl-button-box-shadow: 0px 3px 6px #0000004a;

    --yl-button-color: #607ac8;
    --yl-button-font-size: 12px;
    --yl-button-font-weight: 600;
  }

  .yl-theme-basic .yl-button.yl-button-elevated:has(.yl-button-action:hover) {
    --yl-button-background-color: #e5e8ef;
    --yl-button-color: #455da3;
  }

  .yl-theme-basic .yl-button.yl-button-elevated:has(.yl-button-action:active) {
    --yl-button-background-color: #d1d6e3;
  }

  .yl-theme-basic .yl-button.yl-button-elevated .yl-disabled-foreground {
    --yl-button-disabled-foreground-color: #00000027;
  }

  .yl-theme-basic .yl-button.yl-button-elevated .yl-button-icon {
    --yl-button-icon-color: #455da3;
  }

  .yl-theme-basic
    .yl-button.yl-button-elevated:has(.yl-button-action:hover)
    .yl-button-icon {
    --yl-button-icon-color: #455da3;
  }

  .yl-theme-basic
    .yl-button.yl-button-elevated:has(.yl-button-action:hover)
    .yl-button-icon {
    --yl-button-icon-color: rgb(69, 93, 163);
  }

  .yl-theme-basic .yl-button.yl-button-elevated span.yl-ripple {
    --yl-button-ripple-color: #3351ab89;
  }
}
