@layer yl-layout {
  @media (360px <= width < 480px) {
    /**********************Vars****************************/
    /**********************************************************/
    .yl-background-color {
      --yl-background-color-inline-size-360-480: var(
        --yl-background-color-inline-size-360-1024
      );
      --yl-background-color-block-size-360-480: var(
        --yl-background-color-block-size-360-1024
      );
      --yl-background-color-background-color-360-480: var(
        --yl-background-color-background-color-360-1024
      );
      --yl-background-color-position-360-480: var(
        --yl-background-color-position-360-1024
      );
      --yl-background-color-top-360-480: var(
        --yl-background-color-top-360-1024
      );
      --yl-background-color-left-360-480: var(
        --yl-background-color-left-360-1024
      );
      --yl-background-color-right-360-480: var(
        --yl-background-color-right-360-1024
      );
      --yl-background-color-bottom-360-480: var(
        --yl-background-color-bottom-360-1024
      );
      --yl-background-color-opacity-360-480: var(
        --yl-background-color-opacity-360-1024
      );
      --yl-background-z-index-360-480: var(--yl-background-z-index-360-1024);
    }
    /**************************Styles********************************/
    /**********************************************************/
    .yl-background-color {
      inline-size: var(--yl-background-color-inline-size-360-480);
      block-size: var(--yl-background-color-block-size-360-480);
      background-color: var(--yl-background-color-background-color-360-480);
      position: var(--yl-background-color-position-360-480);
      top: var(--yl-background-color-top-360-480);
      left: var(--yl-background-color-left-360-480);
      right: var(--yl-background-color-right-360-480);
      bottom: var(--yl-background-color-bottom-360-480);
      opacity: var(--yl-background-color-opacity-360-480);
      z-index: var(--yl-background-color-z-index-360-480);
    }
  }
}
