@layer yl-layout{
    @media (1024px <= width < 1920px){
      /**********************Vars****************************/
      /**********************************************************/
    .yl-flex-container{
    --yl-flex-container-flex-direction-1024-1920 : var(--yl-flex-container-flex-direction);--yl-flex-container-align-items-1024-1920 : var(--yl-flex-container-align-items);--yl-flex-container-justify-content-1024-1920 : var(--yl-flex-container-justify-content);--yl-flex-container-gap-1024-1920 : var(--yl-flex-container-gap);--yl-flex-container-flex-wrap-1024-1920 : var(--yl-flex-container-flex-wrap); 
  } 
  /**************************Styles********************************/
  /**********************************************************/
  .yl-flex-container{
    flex-direction: var(--yl-flex-container-flex-direction-1024-1920);align-items: var(--yl-flex-container-align-items-1024-1920);justify-content: var(--yl-flex-container-justify-content-1024-1920);gap: var(--yl-flex-container-gap-1024-1920);flex-wrap: var(--yl-flex-container-flex-wrap-1024-1920); 
      } 
    } 
  }
