@layer yl-layout{
    @media (1280px <= width < 1440px){
      /**********************Vars****************************/
      /**********************************************************/
    .yl-flex-container{
    --yl-flex-container-flex-direction-1280-1440 : var(--yl-flex-container-flex-direction-1024-1920);--yl-flex-container-align-items-1280-1440 : var(--yl-flex-container-align-items-1024-1920);--yl-flex-container-justify-content-1280-1440 : var(--yl-flex-container-justify-content-1024-1920);--yl-flex-container-gap-1280-1440 : var(--yl-flex-container-gap-1024-1920);--yl-flex-container-flex-wrap-1280-1440 : var(--yl-flex-container-flex-wrap-1024-1920); 
  } 
  /**************************Styles********************************/
  /**********************************************************/
  .yl-flex-container{
    flex-direction: var(--yl-flex-container-flex-direction-1280-1440);align-items: var(--yl-flex-container-align-items-1280-1440);justify-content: var(--yl-flex-container-justify-content-1280-1440);gap: var(--yl-flex-container-gap-1280-1440);flex-wrap: var(--yl-flex-container-flex-wrap-1280-1440); 
      } 
    } 
  }
