@layer yl-layout {
  .yl-list {
    --yl-list-flex-direction: row;
    --yl-list-gap: 12px;

    display: flex;

    flex-direction: var(--yl-list-flex-direction);
    gap: var(--yl-list-gap);

    list-style: none;
  }

  .yl-item {
    inline-size: auto;
    block-size: auto;

    flex-shrink: 0;
  }
}
