@layer yl-layout{
    @media (360px <= width < 1024px){
      
      /**********************Vars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-360-1024 : var(--yl-masked-image-mask-image);--yl-masked-image-mask-position-360-1024 : var(--yl-masked-image-mask-position);--yl-masked-image-mask-size-360-1024 : var(--yl-masked-image-mask-size);--yl-masked-image-mask-repeat-360-1024 : var(--yl-masked-image-mask-repeat); 
  } 
  /**************************Styles********************************/
  /**********************************************************/
  .yl-masked-image{
    mask-image: var(--yl-masked-image-mask-image-360-1024);mask-repeat: var(--yl-masked-image-mask-repeat-360-1024);mask-position: var(--yl-masked-image-mask-position-360-1024);mask-size: var(--yl-masked-image-mask-size-360-1024); 
      } 
  

      
      /**********************HoverVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-360-1024-hover : var(--yl-masked-image-mask-image-hover);--yl-masked-image-mask-position-360-1024-hover : var(--yl-masked-image-mask-position-hover);--yl-masked-image-mask-size-360-1024-hover : var(--yl-masked-image-mask-size-hover);--yl-masked-image-mask-repeat-360-1024-hover : var(--yl-masked-image-mask-repeat-hover); 
  } 
  /**************************HoverStyles********************************/
  /**********************************************************/
  .yl-masked-image:hover{
    mask-image: var(--yl-masked-image-mask-image-360-1024-hover);mask-repeat: var(--yl-masked-image-mask-repeat-360-1024-hover);mask-position: var(--yl-masked-image-mask-position-360-1024-hover);mask-size: var(--yl-masked-image-mask-size-360-1024-hover); 
      } 

      [data-parent-hover="true"]:hover .yl-masked-image:hover{
        mask-image: var(--yl-masked-image-mask-image-360-1024-hover);mask-repeat: var(--yl-masked-image-mask-repeat-360-1024-hover);mask-position: var(--yl-masked-image-mask-position-360-1024-hover);mask-size: var(--yl-masked-image-mask-size-360-1024-hover); 
          }  
 
      
      /**********************ParentHoverVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-360-1024-parent-hover : var(--yl-masked-image-mask-image-parent-hover);--yl-masked-image-mask-position-360-1024-parent-hover : var(--yl-masked-image-mask-position-parent-hover);--yl-masked-image-mask-size-360-1024-parent-hover : var(--yl-masked-image-mask-size-parent-hover);--yl-masked-image-mask-repeat-360-1024-parent-hover : var(--yl-masked-image-mask-repeat-parent-hover); 
  } 
  /**************************ParentHoverStyles********************************/
  /**********************************************************/
  [data-parent-hover="true"]:hover .yl-masked-image{
    mask-image: var(--yl-masked-image-mask-image-360-1024-parent-hover);mask-repeat: var(--yl-masked-image-mask-repeat-360-1024-parent-hover);mask-position: var(--yl-masked-image-mask-position-360-1024-parent-hover);mask-size: var(--yl-masked-image-mask-size-360-1024-parent-hover); 
      } 
  
 
      
      /**********************ChildHoverVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-360-1024-child-hover : var(--yl-masked-image-mask-image-child-hover);--yl-masked-image-mask-position-360-1024-child-hover : var(--yl-masked-image-mask-position-child-hover);--yl-masked-image-mask-size-360-1024-child-hover : var(--yl-masked-image-mask-size-child-hover);--yl-masked-image-mask-repeat-360-1024-child-hover : var(--yl-masked-image-mask-repeat-child-hover); 
  } 
  /**************************ChildHoverStyles********************************/
  /**********************************************************/
  .yl-masked-image:has([data-child-hover="true"]:hover) {
    mask-image: var(--yl-masked-image-mask-image-360-1024-child-hover);mask-repeat: var(--yl-masked-image-mask-repeat-360-1024-child-hover);mask-position: var(--yl-masked-image-mask-position-360-1024-child-hover);mask-size: var(--yl-masked-image-mask-size-360-1024-child-hover); 
      } 
  

      
      /**********************ActiveVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-360-1024-active : var(--yl-masked-image-mask-image-active);--yl-masked-image-mask-position-360-1024-active : var(--yl-masked-image-mask-position-active);--yl-masked-image-mask-size-360-1024-active : var(--yl-masked-image-mask-size-active);--yl-masked-image-mask-repeat-360-1024-active : var(--yl-masked-image-mask-repeat-active); 
  } 
  /**************************ActiveStyles********************************/
  /**********************************************************/
  .yl-masked-image:active{
    mask-image: var(--yl-masked-image-mask-image-360-1024-active);mask-repeat: var(--yl-masked-image-mask-repeat-360-1024-active);mask-position: var(--yl-masked-image-mask-position-360-1024-active);mask-size: var(--yl-masked-image-mask-size-360-1024-active); 
      } 

      [data-parent-active="true"]:active .yl-masked-image:hover{
        mask-image: var(--yl-masked-image-mask-image-360-1024-parent-active);mask-repeat: var(--yl-masked-image-mask-repeat-360-1024-parent-active);mask-position: var(--yl-masked-image-mask-position-360-1024-parent-active);mask-size: var(--yl-masked-image-mask-size-360-1024-parent-active); 
          }  
 
      
      /**********************ParentActiveVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-360-1024-parent-active : var(--yl-masked-image-mask-image-parent-active);--yl-masked-image-mask-position-360-1024-parent-active : var(--yl-masked-image-mask-position-parent-active);--yl-masked-image-mask-size-360-1024-parent-active : var(--yl-masked-image-mask-size-parent-active);--yl-masked-image-mask-repeat-360-1024-parent-active : var(--yl-masked-image-mask-repeat-parent-active); 
  } 
  /**************************ParentActiveStyles********************************/
  /**********************************************************/
  [data-parent-active="true"]:active .yl-masked-image{
    mask-image: var(--yl-masked-image-mask-image-360-1024-parent-active);mask-repeat: var(--yl-masked-image-mask-repeat-360-1024-parent-active);mask-position: var(--yl-masked-image-mask-position-360-1024-parent-active);mask-size: var(--yl-masked-image-mask-size-360-1024-parent-active); 
      } 
  

      
      /**********************ChildActiveVars****************************/
      /**********************************************************/
    .yl-masked-image{
    --yl-masked-image-mask-image-360-1024-child-active : var(--yl-masked-image-mask-image-child-active);--yl-masked-image-mask-position-360-1024-child-active : var(--yl-masked-image-mask-position-child-active);--yl-masked-image-mask-size-360-1024-child-active : var(--yl-masked-image-mask-size-child-active);--yl-masked-image-mask-repeat-360-1024-child-active : var(--yl-masked-image-mask-repeat-child-active); 
  } 
  /**************************ChildActiveStyles********************************/
  /**********************************************************/
  .yl-masked-image:has([data-child-active="true"]:active) {
    mask-image: var(--yl-masked-image-mask-image-360-1024-child-active);mask-repeat: var(--yl-masked-image-mask-repeat-360-1024-child-active);mask-position: var(--yl-masked-image-mask-position-360-1024-child-active);mask-size: var(--yl-masked-image-mask-size-360-1024-child-active); 
      } 
  

    } 
  }
