@layer yl-layout{
    @media (480px <= width < 600px){
      
      /**********************Vars****************************/
      /**********************************************************/
    .yl-flex-container{
    --yl-flex-container-flex-direction-480-600 : var(--yl-flex-container-flex-direction-360-1024);--yl-flex-container-align-items-480-600 : var(--yl-flex-container-align-items-360-1024);--yl-flex-container-justify-content-480-600 : var(--yl-flex-container-justify-content-360-1024);--yl-flex-container-gap-480-600 : var(--yl-flex-container-gap-360-1024);--yl-flex-container-flex-wrap-480-600 : var(--yl-flex-container-flex-wrap-360-1024); 
  } 
  /**************************Styles********************************/
  /**********************************************************/
  .yl-flex-container{
    flex-direction: var(--yl-flex-container-flex-direction-480-600);align-items: var(--yl-flex-container-align-items-480-600);justify-content: var(--yl-flex-container-justify-content-480-600);gap: var(--yl-flex-container-gap-480-600);flex-wrap: var(--yl-flex-container-flex-wrap-480-600); 
      } 
  

      
      /**********************HoverVars****************************/
      /**********************************************************/
    .yl-flex-container{
    --yl-flex-container-flex-direction-480-600-hover : var(--yl-flex-container-flex-direction-360-1024-hover);--yl-flex-container-align-items-480-600-hover : var(--yl-flex-container-align-items-360-1024-hover);--yl-flex-container-justify-content-480-600-hover : var(--yl-flex-container-justify-content-360-1024-hover);--yl-flex-container-gap-480-600-hover : var(--yl-flex-container-gap-360-1024-hover);--yl-flex-container-flex-wrap-480-600-hover : var(--yl-flex-container-flex-wrap-360-1024-hover); 
  } 
  /**************************HoverStyles********************************/
  /**********************************************************/
  .yl-flex-container:hover{
    flex-direction: var(--yl-flex-container-flex-direction-480-600-hover);align-items: var(--yl-flex-container-align-items-480-600-hover);justify-content: var(--yl-flex-container-justify-content-480-600-hover);gap: var(--yl-flex-container-gap-480-600-hover);flex-wrap: var(--yl-flex-container-flex-wrap-480-600-hover); 
      } 

      [data-parent-hover="true"]:hover .yl-flex-container:hover{
        flex-direction: var(--yl-flex-container-flex-direction-480-600-hover);align-items: var(--yl-flex-container-align-items-480-600-hover);justify-content: var(--yl-flex-container-justify-content-480-600-hover);gap: var(--yl-flex-container-gap-480-600-hover);flex-wrap: var(--yl-flex-container-flex-wrap-480-600-hover); 
          }  
 
      
      /**********************ParentHoverVars****************************/
      /**********************************************************/
    .yl-flex-container{
    --yl-flex-container-flex-direction-480-600-parent-hover : var(--yl-flex-container-flex-direction-360-1024-parent-hover);--yl-flex-container-align-items-480-600-parent-hover : var(--yl-flex-container-align-items-360-1024-parent-hover);--yl-flex-container-justify-content-480-600-parent-hover : var(--yl-flex-container-justify-content-360-1024-parent-hover);--yl-flex-container-gap-480-600-parent-hover : var(--yl-flex-container-gap-360-1024-parent-hover);--yl-flex-container-flex-wrap-480-600-parent-hover : var(--yl-flex-container-flex-wrap-360-1024-parent-hover); 
  } 
  /**************************ParentHoverStyles********************************/
  /**********************************************************/
  [data-parent-hover="true"]:hover .yl-flex-container{
    flex-direction: var(--yl-flex-container-flex-direction-480-600-parent-hover);align-items: var(--yl-flex-container-align-items-480-600-parent-hover);justify-content: var(--yl-flex-container-justify-content-480-600-parent-hover);gap: var(--yl-flex-container-gap-480-600-parent-hover);flex-wrap: var(--yl-flex-container-flex-wrap-480-600-parent-hover); 
      } 
  
 
      
      /**********************ChildHoverVars****************************/
      /**********************************************************/
    .yl-flex-container{
    --yl-flex-container-flex-direction-480-600-child-hover : var(--yl-flex-container-flex-direction-360-1024-child-hover);--yl-flex-container-align-items-480-600-child-hover : var(--yl-flex-container-align-items-360-1024-child-hover);--yl-flex-container-justify-content-480-600-child-hover : var(--yl-flex-container-justify-content-360-1024-child-hover);--yl-flex-container-gap-480-600-child-hover : var(--yl-flex-container-gap-360-1024-child-hover);--yl-flex-container-flex-wrap-480-600-child-hover : var(--yl-flex-container-flex-wrap-360-1024-child-hover); 
  } 
  /**************************ChildHoverStyles********************************/
  /**********************************************************/
  .yl-flex-container:has([data-child-hover="true"]:hover) {
    flex-direction: var(--yl-flex-container-flex-direction-480-600-child-hover);align-items: var(--yl-flex-container-align-items-480-600-child-hover);justify-content: var(--yl-flex-container-justify-content-480-600-child-hover);gap: var(--yl-flex-container-gap-480-600-child-hover);flex-wrap: var(--yl-flex-container-flex-wrap-480-600-child-hover); 
      } 
  

      
      /**********************ActiveVars****************************/
      /**********************************************************/
    .yl-flex-container{
    --yl-flex-container-flex-direction-480-600-active : var(--yl-flex-container-flex-direction-360-1024-active);--yl-flex-container-align-items-480-600-active : var(--yl-flex-container-align-items-360-1024-active);--yl-flex-container-justify-content-480-600-active : var(--yl-flex-container-justify-content-360-1024-active);--yl-flex-container-gap-480-600-active : var(--yl-flex-container-gap-360-1024-active);--yl-flex-container-flex-wrap-480-600-active : var(--yl-flex-container-flex-wrap-360-1024-active); 
  } 
  /**************************ActiveStyles********************************/
  /**********************************************************/
  .yl-flex-container:active{
    flex-direction: var(--yl-flex-container-flex-direction-480-600-active);align-items: var(--yl-flex-container-align-items-480-600-active);justify-content: var(--yl-flex-container-justify-content-480-600-active);gap: var(--yl-flex-container-gap-480-600-active);flex-wrap: var(--yl-flex-container-flex-wrap-480-600-active); 
      } 

      [data-parent-active="true"]:active .yl-flex-container:hover{
        flex-direction: var(--yl-flex-container-flex-direction-480-600-parent-active);align-items: var(--yl-flex-container-align-items-480-600-parent-active);justify-content: var(--yl-flex-container-justify-content-480-600-parent-active);gap: var(--yl-flex-container-gap-480-600-parent-active);flex-wrap: var(--yl-flex-container-flex-wrap-480-600-parent-active); 
          }  
 
      
      /**********************ParentActiveVars****************************/
      /**********************************************************/
    .yl-flex-container{
    --yl-flex-container-flex-direction-480-600-parent-active : var(--yl-flex-container-flex-direction-360-1024-parent-active);--yl-flex-container-align-items-480-600-parent-active : var(--yl-flex-container-align-items-360-1024-parent-active);--yl-flex-container-justify-content-480-600-parent-active : var(--yl-flex-container-justify-content-360-1024-parent-active);--yl-flex-container-gap-480-600-parent-active : var(--yl-flex-container-gap-360-1024-parent-active);--yl-flex-container-flex-wrap-480-600-parent-active : var(--yl-flex-container-flex-wrap-360-1024-parent-active); 
  } 
  /**************************ParentActiveStyles********************************/
  /**********************************************************/
  [data-parent-active="true"]:active .yl-flex-container{
    flex-direction: var(--yl-flex-container-flex-direction-480-600-parent-active);align-items: var(--yl-flex-container-align-items-480-600-parent-active);justify-content: var(--yl-flex-container-justify-content-480-600-parent-active);gap: var(--yl-flex-container-gap-480-600-parent-active);flex-wrap: var(--yl-flex-container-flex-wrap-480-600-parent-active); 
      } 
  

      
      /**********************ChildActiveVars****************************/
      /**********************************************************/
    .yl-flex-container{
    --yl-flex-container-flex-direction-480-600-child-active : var(--yl-flex-container-flex-direction-360-1024-child-active);--yl-flex-container-align-items-480-600-child-active : var(--yl-flex-container-align-items-360-1024-child-active);--yl-flex-container-justify-content-480-600-child-active : var(--yl-flex-container-justify-content-360-1024-child-active);--yl-flex-container-gap-480-600-child-active : var(--yl-flex-container-gap-360-1024-child-active);--yl-flex-container-flex-wrap-480-600-child-active : var(--yl-flex-container-flex-wrap-360-1024-child-active); 
  } 
  /**************************ChildActiveStyles********************************/
  /**********************************************************/
  .yl-flex-container:has([data-child-active="true"]:active) {
    flex-direction: var(--yl-flex-container-flex-direction-480-600-child-active);align-items: var(--yl-flex-container-align-items-480-600-child-active);justify-content: var(--yl-flex-container-justify-content-480-600-child-active);gap: var(--yl-flex-container-gap-480-600-child-active);flex-wrap: var(--yl-flex-container-flex-wrap-480-600-child-active); 
      } 
  

    } 
  }
