@layer yl-layout{
    @media (600px <= width < 900px){
      /**********************Vars****************************/
      /**********************************************************/
    .yl-flex-container{
    --yl-flex-container-flex-direction-600-900 : var(--yl-flex-container-flex-direction-360-1024);--yl-flex-container-align-items-600-900 : var(--yl-flex-container-align-items-360-1024);--yl-flex-container-justify-content-600-900 : var(--yl-flex-container-justify-content-360-1024);--yl-flex-container-gap-600-900 : var(--yl-flex-container-gap-360-1024);--yl-flex-container-flex-wrap-600-900 : var(--yl-flex-container-flex-wrap-360-1024); 
  } 
  /**************************Styles********************************/
  /**********************************************************/
  .yl-flex-container{
    flex-direction: var(--yl-flex-container-flex-direction-600-900);align-items: var(--yl-flex-container-align-items-600-900);justify-content: var(--yl-flex-container-justify-content-600-900);gap: var(--yl-flex-container-gap-600-900);flex-wrap: var(--yl-flex-container-flex-wrap-600-900); 
      } 
    } 
  }
