/***************************yl-text********************************/
/**********************************************************/
/**********************************************************/

@layer yl-layout {
  /**********************Vars****************************/
  /**********************************************************/
  .yl-text {
    --yl-text-inline-size: auto;
    --yl-text-block-size: auto;

    --yl-text-padding: 0;
    --yl-text-padding-inline: 0;
    --yl-text-padding-inline-start: 0;
    --yl-text-padding-inline-end: 0;
    --yl-text-padding-block: 0;
    --yl-text-padding-block-start: 0;
    --yl-text-padding-block-end: 0;

    --yl-text-margin: 0;
    --yl-text-margin-inline: 0;
    --yl-text-margin-inline-start: 0;
    --yl-text-margin-inline-end: 0;
    --yl-text-margin-block: 0;
    --yl-text-margin-block-start: 0;
    --yl-text-margin-block-end: 0;

    --yl-text-color: inherit;
    --yl-text-font-size: inherit;
    --yl-text-line-height: inherit;
    --yl-text-font-weight: inherit;
    --yl-text-font-family: inherit;
    --yl-text-text-transform: inherit;
    --yl-text-text-shadow: inherit;
    --yl-text-text-align: inherit;
  }
  /**************************Styles********************************/
  /**********************************************************/

  .yl-text {
    inline-size: var(--yl-text-inline-size);
    block-size: var(--yl-text-block-size);

    padding: var(--yl-text-padding);
    padding-inline: var(--yl-text-padding-inline);
    padding-inline-start: var(--yl-text-padding-inline-start);
    padding-inline-end: var(--yl-text-padding-inline-end);
    padding-block: var(--yl-text-padding-block);
    padding-block-start: var(--yl-text-padding-block-start);
    padding-block-end: var(--yl-text-padding-block-end);

    margin: var(--yl-text-margin);
    margin-inline: var(--yl-text-margin-inline);
    margin-inline-start: var(--yl-text-margin-inline-start);
    margin-inline-end: var(--yl-text-margin-inline-end);
    margin-block: var(--yl-text-margin-block);
    margin-block-start: var(--yl-text-margin-block-start);
    margin-block-end: var(--yl-text-margin-block-end);

    color: var(--yl-text-color);
    font-size: var(--yl-text-font-size);
    line-height: var(--yl-text-line-height);
    font-weight: var(--yl-text-font-weight);
    font-family: var(--yl-text-font-family);
    text-transform: var(--yl-text-text-transform);
    text-align: var(--yl-text-text-align);
    text-shadow: var(--yl-text-text-shadow);
  }
}
