@layer yl-layer {
  .yl-select {
    inline-size: 100%;
    block-size: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    overflow: hidden;
  }

  .yl-select .select_input {
    inline-size: 100%;
    block-size: 100%;
    padding-inline: 4px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .yl-select .select_input .select_input_value {
    font-size: 14px;
  }

  .yl-select .select_input .select_drop_menu_icon {
    inline-size: 20px;
    block-size: 20px;

    margin-inline-start: 2px;

    background-color: currentColor;

    mask-image: url("/icons/select_drop_menu.svg");
    mask-size: 120%;
    mask-repeat: no-repeat;
    mask-position: center;

    transform: rotateX(0deg);
    transition: all ease-in-out 150ms;
  }

  .yl-select .select_input .select_drop_menu_icon.clicked-state {
    transform: rotateX(180deg);
    transition: all ease-in-out 300ms;
  }
  /*********************************MenuSelect****************/
  .yl-menu-select {
    inline-size: 80px;
    block-size: auto;

    position: fixed;

    z-index: 10000;

    background-color: rgb(238, 236, 242);
    border-radius: 4px;

    /* animation: scaleIn ease-in-out 100ms backwards;
    overflow: hidden; */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.251);
  }

  .yl-menu-select ul {
    inline-size: 100%;
  }

  .yl-menu-select ul .select_menu_item {
    inline-size: 100%;
    block-size: 48px;

    padding: 12px;
    padding-block: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    text-align: center;

    cursor: pointer;
    user-select: none;
  }

  .yl-menu-select ul .select_menu_item .select_menu_item_icon {
    inline-size: 20px;
    block-size: 20px;

    margin-inline-start: 2px;

    background-color: currentColor;

    mask-image: none;
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;

    flex-shrink: 0;
  }

  .yl-menu-select .selected_menu_item {
    color: white;
    background-color: #787640;
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes scaleOut {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
