@layer yl-layout{
    @media (1280px <= width < 1440px){
      /**********************Vars****************************/
      /**********************************************************/
    .yl-backdrop-filter{
    --yl-backdrop-filter-inline-size-1280-1440 : var(--yl-backdrop-filter-inline-size-1024-1920);--yl-backdrop-filter-block-size-1280-1440 : var(--yl-backdrop-filter-block-size-1024-1920);--yl-backdrop-filter-backdrop-filter-1280-1440 : var(--yl-backdrop-filter-backdrop-filter-1024-1920);--yl-backdrop-filter-position-1280-1440 : var(--yl-backdrop-filter-position-1024-1920);--yl-backdrop-filter-top-1280-1440 : var(--yl-backdrop-filter-top-1024-1920);--yl-backdrop-filter-left-1280-1440 : var(--yl-backdrop-filter-left-1024-1920);--yl-backdrop-filter-right-1280-1440 : var(--yl-backdrop-filter-right-1024-1920);--yl-backdrop-filter-bottom-1280-1440 : var(--yl-backdrop-filter-bottom-1024-1920);--yl-backdrop-filter-opacity-1280-1440 : var(--yl-backdrop-filter-opacity-1024-1920);--yl-backdrop-z-index-1280-1440 : var(--yl-backdrop-z-index-1024-1920); 
  } 
  /**************************Styles********************************/
  /**********************************************************/
  .yl-backdrop-filter{
    inline-size: var(--yl-backdrop-filter-inline-size-1280-1440);block-size: var(--yl-backdrop-filter-block-size-1280-1440);backdrop-filter: var(--yl-backdrop-filter-backdrop-filter-1280-1440);position: var(--yl-backdrop-filter-position-1280-1440);top: var(--yl-backdrop-filter-top-1280-1440);left: var(--yl-backdrop-filter-left-1280-1440);right: var(--yl-backdrop-filter-right-1280-1440);bottom: var(--yl-backdrop-filter-bottom-1280-1440);opacity: var(--yl-backdrop-filter-opacity-1280-1440);z-index: var(--yl-backdrop-filter-z-index-1280-1440); 
      } 
    } 
  }
