/***************************yl-flex-item********************************/
/**********************************************************/
/**********************************************************/

@layer yl-layout {
  /**********************Vars****************************/
  /**********************************************************/
  .yl-flex-item {
    --yl-flex-item-order: none;
  }
  /**************************Styles********************************/
  /**********************************************************/

  .yl-flex-item {
    order: var(--yl-flex-item-order);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
