/***************************yl-button********************************/
/**********************************************************/
/**********************************************************/

.yl-button-action {
  text-transform: inherit;
}

@layer yl-ui {
  /**********************Vars****************************/
  /**********************************************************/

  .yl-button {
    --yl-button-inline-size: auto;
    --yl-button-block-size: auto;

    --yl-button-padding-inline: auto;
    --yl-button-padding-block: auto;

    --yl-button-border-radius: auto;
    --yl-button-border: auto;
    --yl-button-box-shadow: auto;
    --yl-button-background-color: auto;
    --yl-button-disabled-foreground-color: auto;

    --yl-button-color: auto;
    --yl-button-font-size: auto;
    --yl-button-font-weight: auto;
    --yl-button-text-transform: auto;

    --yl-button-icon-color: auto;
    --yl-button-spinner-color: auto;
    --yl-button-ripple-color: black;
  }
  /**************************Styles********************************/
  /**********************************************************/

  .yl-button {
    inline-size: var(--yl-button-inline-size);
    block-size: var(--yl-button-block-size);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: relative;

    background-color: var(--yl-button-background-color);
    border: var(--yl-button-border);
    border-radius: var(--yl-button-border-radius);
    box-shadow: var(--yl-button-box-shadow);

    font-size: var(--yl-button-font-size);
    color: var(--yl-button-color);
    font-weight: var(--yl-button-font-weight);
    text-transform: var(--yl-button-text-transform);

    overflow: hidden;
    cursor: pointer;
  }

  .yl-button.yl-button-rounded {
    border-radius: 100%;
  }

  .yl-button .yl-button-action {
    inline-size: 100%;
    block-size: 100%;

    padding-inline: var(--yl-button-padding-inline);
    padding-block: var(--yl-button-padding-block);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    color: var(--yl-button-color);
    user-select: none;

    cursor: pointer;
  }

  .yl-button .yl-button-action .yl-button-icon {
    color: var(--yl-button-icon-color);
  }

  /***********************************yl-button-ripple*************************************************/
  .yl-button span.yl-ripple {
    background-color: var(--yl-button-ripple-color);
  }

  /***************************yl-disabled-foreground********************************/

  .yl-button .yl-disabled-foreground {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;

    top: 0px;
    left: 0px;

    background-color: var(--yl-button-disabled-foreground-color);

    cursor: not-allowed;
  }
  /***************************yl-button-spinner********************************/

  .yl-button .yl-button-spinner {
    position: absolute;

    inline-size: 100%;
    block-size: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--yl-button-background-color);
    color: var(--yl-button-spinner-color);
    cursor: default;
  }

  .yl-button .yl-button-spinner .yl-spinner {
    flex-shrink: 0;
  }
}
