@layer yl-layout {
  @media (1024px <= width < 1280px) {
    /**********************Vars****************************/
    /**********************************************************/
    .yl-text {
      --yl-text-inline-size-1024-1280: var(--yl-text-inline-size-1024-1920);
      --yl-text-block-size-1024-1280: var(--yl-text-block-size-1024-1920);
      --yl-text-padding-1024-1280: var(--yl-text-padding-1024-1920);
      --yl-text-padding-inline-1024-1280: var(
        --yl-text-padding-inline-1024-1920
      );
      --yl-text-padding-inline-start-1024-1280: var(
        --yl-text-padding-inline-start-1024-1920
      );
      --yl-text-padding-inline-end-1024-1280: var(
        --yl-text-padding-inline-end-1024-1920
      );
      --yl-text-padding-block-1024-1280: var(--yl-text-padding-block-1024-1920);
      --yl-text-padding-block-start-1024-1280: var(
        --yl-text-padding-block-start-1024-1920
      );
      --yl-text-padding-block-end-1024-1280: var(
        --yl-text-padding-block-end-1024-1920
      );
      --yl-text-margin-1024-1280: var(--yl-text-margin-1024-1920);
      --yl-text-margin-inline-1024-1280: var(--yl-text-margin-inline-1024-1920);
      --yl-text-margin-inline-start-1024-1280: var(
        --yl-text-margin-inline-start-1024-1920
      );
      --yl-text-margin-inline-end-1024-1280: var(
        --yl-text-margin-inline-end-1024-1920
      );
      --yl-text-margin-block-1024-1280: var(--yl-text-margin-block-1024-1920);
      --yl-text-margin-block-start-1024-1280: var(
        --yl-text-margin-block-start-1024-1920
      );
      --yl-text-margin-block-end-1024-1280: var(
        --yl-text-margin-block-end-1024-1920
      );
      --yl-text-color-1024-1280: var(--yl-text-color-1024-1920);
      --yl-text-font-size-1024-1280: var(--yl-text-font-size-1024-1920);
      --yl-text-line-height-1024-1280: var(--yl-text-line-height-1024-1920);
      --yl-text-font-weight-1024-1280: var(--yl-text-font-weight-1024-1920);
      --yl-text-font-family-1024-1280: var(--yl-text-font-family-1024-1920);
      --yl-text-text-transform-1024-1280: var(
        --yl-text-text-transform-1024-1920
      );
      --yl-text-text-shadow-1024-1280: var(--yl-text-text-shadow-1024-1920);
      --yl-text-text-align-1024-1280: var(--yl-text-text-align-1024-1920);
    }
    /**************************Styles********************************/
    /**********************************************************/
    .yl-text {
      inline-size: var(--yl-text-inline-size-1024-1280);
      block-size: var(--yl-text-block-size-1024-1280);
      padding: var(--yl-text-padding-1024-1280);
      padding-inline: var(--yl-text-padding-inline-1024-1280);
      padding-inline-start: var(--yl-text-padding-inline-start-1024-1280);
      padding-inline-end: var(--yl-text-padding-inline-end-1024-1280);
      padding-block: var(--yl-text-padding-block-1024-1280);
      padding-block-start: var(--yl-text-padding-block-start-1024-1280);
      padding-block-end: var(--yl-text-padding-block-end-1024-1280);
      margin: var(--yl-text-margin-1024-1280);
      margin-inline: var(--yl-text-margin-inline-1024-1280);
      margin-inline-start: var(--yl-text-margin-inline-start-1024-1280);
      margin-inline-end: var(--yl-text-margin-inline-end-1024-1280);
      margin-block: var(--yl-text-margin-block-1024-1280);
      margin-block-start: var(--yl-text-margin-block-start-1024-1280);
      margin-block-end: var(--yl-text-margin-block-end-1024-1280);
      color: var(--yl-text-color-1024-1280);
      font-size: var(--yl-text-font-size-1024-1280);
      line-height: var(--yl-text-line-height-1024-1280);
      font-weight: var(--yl-text-font-weight-1024-1280);
      font-family: var(--yl-text-font-family-1024-1280);
      text-transform: var(--yl-text-text-transform-1024-1280);
      text-align: var(--yl-text-text-align-1024-1280);
      text-shadow: var(--yl-text-text-shadow-1024-1280);
    }
  }
}
