/***************************yl-masked-image********************************/
/**********************************************************/
/**********************************************************/

@layer yl-layout {
  /**********************Vars****************************/
  /**********************************************************/

  .yl-masked-image {
    --yl-masked-image-mask-image: url("/yl-img/yl-image-placeholder-transparent.png");
    --yl-masked-image-mask-position: center;
    --yl-masked-image-mask-size: contain;
    --yl-masked-image-mask-repeat: no-repeat;
  }

  /**************************Styles********************************/
  /**********************************************************/
  .yl-masked-image {
    mask-image: var(--yl-masked-image-background-image);
    mask-repeat: var(--yl-masked-image-background-repeat);
    mask-position: var(--yl-masked-image-background-position);
    mask-size: var(--yl-masked-image-background-size);
  }
}
