@layer yl-layout {
  @media (1024px <= width < 1920px) {
    /**********************Vars****************************/
    /**********************************************************/
    .yl-text-header {
      --yl-text-header-inline-size-1024-1920: var(--yl-text-header-inline-size);
      --yl-text-header-block-size-1024-1920: var(--yl-text-header-block-size);
      --yl-text-header-padding-1024-1920: var(--yl-text-header-padding);
      --yl-text-header-padding-inline-1024-1920: var(
        --yl-text-header-padding-inline
      );
      --yl-text-header-padding-inline-start-1024-1920: var(
        --yl-text-header-padding-inline-start
      );
      --yl-text-header-padding-inline-end-1024-1920: var(
        --yl-text-header-padding-inline-end
      );
      --yl-text-header-padding-block-1024-1920: var(
        --yl-text-header-padding-block
      );
      --yl-text-header-padding-block-start-1024-1920: var(
        --yl-text-header-padding-block-start
      );
      --yl-text-header-padding-block-end-1024-1920: var(
        --yl-text-header-padding-block-end
      );
      --yl-text-header-margin-1024-1920: var(--yl-text-header-margin);
      --yl-text-header-margin-inline-1024-1920: var(
        --yl-text-header-margin-inline
      );
      --yl-text-header-margin-inline-start-1024-1920: var(
        --yl-text-header-margin-inline-start
      );
      --yl-text-header-margin-inline-end-1024-1920: var(
        --yl-text-header-margin-inline-end
      );
      --yl-text-header-margin-block-1024-1920: var(
        --yl-text-header-margin-block
      );
      --yl-text-header-margin-block-start-1024-1920: var(
        --yl-text-header-margin-block-start
      );
      --yl-text-header-margin-block-end-1024-1920: var(
        --yl-text-header-margin-block-end
      );
      --yl-text-header-color-1024-1920: var(--yl-text-header-color);
      --yl-text-header-font-size-1024-1920: var(--yl-text-header-font-size);
      --yl-text-header-line-height-1024-1920: var(--yl-text-header-line-height);
      --yl-text-header-font-weight-1024-1920: var(--yl-text-header-font-weight);
      --yl-text-header-font-family-1024-1920: var(--yl-text-header-font-family);
      --yl-text-header-text-transform-1024-1920: var(
        --yl-text-header-text-transform
      );
      --yl-text-header-text-shadow-1024-1920: var(--yl-text-header-text-shadow);
      --yl-text-header-text-align-1024-1920: var(--yl-text-header-text-align);
      --yl-text-header-text-decoration-1024-1920: var(
        --yl-text-header-text-decoration
      );
    }
    /**************************Styles********************************/
    /**********************************************************/
    .yl-text-header {
      inline-size: var(--yl-text-header-inline-size-1024-1920);
      block-size: var(--yl-text-header-block-size-1024-1920);
      padding: var(--yl-text-header-padding-1024-1920);
      padding-inline: var(--yl-text-header-padding-inline-1024-1920);
      padding-inline-start: var(
        --yl-text-header-padding-inline-start-1024-1920
      );
      padding-inline-end: var(--yl-text-header-padding-inline-end-1024-1920);
      padding-block: var(--yl-text-header-padding-block-1024-1920);
      padding-block-start: var(--yl-text-header-padding-block-start-1024-1920);
      padding-block-end: var(--yl-text-header-padding-block-end-1024-1920);
      margin: var(--yl-text-header-margin-1024-1920);
      margin-inline: var(--yl-text-header-margin-inline-1024-1920);
      margin-inline-start: var(--yl-text-header-margin-inline-start-1024-1920);
      margin-inline-end: var(--yl-text-header-margin-inline-end-1024-1920);
      margin-block: var(--yl-text-header-margin-block-1024-1920);
      margin-block-start: var(--yl-text-header-margin-block-start-1024-1920);
      margin-block-end: var(--yl-text-header-margin-block-end-1024-1920);
      color: var(--yl-text-header-color-1024-1920);
      font-size: var(--yl-text-header-font-size-1024-1920);
      line-height: var(--yl-text-header-line-height-1024-1920);
      font-weight: var(--yl-text-header-font-weight-1024-1920);
      font-family: var(--yl-text-header-font-family-1024-1920);
      text-transform: var(--yl-text-header-text-transform-1024-1920);
      text-align: var(--yl-text-header-text-align-1024-1920);
      text-shadow: var(--yl-text-header-text-shadow-1024-1920);
      text-decoration: var(--yl-text-header-text-decoration-1024-1920);
    }

    /**********************HoverVars****************************/
    /**********************************************************/
    .yl-text-header {
      --yl-text-header-inline-size-1024-1920-hover: var(
        --yl-text-header-inline-size-hover
      );
      --yl-text-header-block-size-1024-1920-hover: var(
        --yl-text-header-block-size-hover
      );
      --yl-text-header-padding-1024-1920-hover: var(
        --yl-text-header-padding-hover
      );
      --yl-text-header-padding-inline-1024-1920-hover: var(
        --yl-text-header-padding-inline-hover
      );
      --yl-text-header-padding-inline-start-1024-1920-hover: var(
        --yl-text-header-padding-inline-start-hover
      );
      --yl-text-header-padding-inline-end-1024-1920-hover: var(
        --yl-text-header-padding-inline-end-hover
      );
      --yl-text-header-padding-block-1024-1920-hover: var(
        --yl-text-header-padding-block-hover
      );
      --yl-text-header-padding-block-start-1024-1920-hover: var(
        --yl-text-header-padding-block-start-hover
      );
      --yl-text-header-padding-block-end-1024-1920-hover: var(
        --yl-text-header-padding-block-end-hover
      );
      --yl-text-header-margin-1024-1920-hover: var(
        --yl-text-header-margin-hover
      );
      --yl-text-header-margin-inline-1024-1920-hover: var(
        --yl-text-header-margin-inline-hover
      );
      --yl-text-header-margin-inline-start-1024-1920-hover: var(
        --yl-text-header-margin-inline-start-hover
      );
      --yl-text-header-margin-inline-end-1024-1920-hover: var(
        --yl-text-header-margin-inline-end-hover
      );
      --yl-text-header-margin-block-1024-1920-hover: var(
        --yl-text-header-margin-block-hover
      );
      --yl-text-header-margin-block-start-1024-1920-hover: var(
        --yl-text-header-margin-block-start-hover
      );
      --yl-text-header-margin-block-end-1024-1920-hover: var(
        --yl-text-header-margin-block-end-hover
      );
      --yl-text-header-color-1024-1920-hover: var(--yl-text-header-color-hover);
      --yl-text-header-font-size-1024-1920-hover: var(
        --yl-text-header-font-size-hover
      );
      --yl-text-header-line-height-1024-1920-hover: var(
        --yl-text-header-line-height-hover
      );
      --yl-text-header-font-weight-1024-1920-hover: var(
        --yl-text-header-font-weight-hover
      );
      --yl-text-header-font-family-1024-1920-hover: var(
        --yl-text-header-font-family-hover
      );
      --yl-text-header-text-transform-1024-1920-hover: var(
        --yl-text-header-text-transform-hover
      );
      --yl-text-header-text-shadow-1024-1920-hover: var(
        --yl-text-header-text-shadow-hover
      );
      --yl-text-header-text-align-1024-1920-hover: var(
        --yl-text-header-text-align-hover
      );
      --yl-text-header-text-decoration-1024-1920-hover: var(
        --yl-text-header-text-decoration-hover
      );
    }
    /**************************HoverStyles********************************/
    /**********************************************************/
    .yl-text-header:hover {
      inline-size: var(--yl-text-header-inline-size-1024-1920-hover);
      block-size: var(--yl-text-header-block-size-1024-1920-hover);
      padding: var(--yl-text-header-padding-1024-1920-hover);
      padding-inline: var(--yl-text-header-padding-inline-1024-1920-hover);
      padding-inline-start: var(
        --yl-text-header-padding-inline-start-1024-1920-hover
      );
      padding-inline-end: var(
        --yl-text-header-padding-inline-end-1024-1920-hover
      );
      padding-block: var(--yl-text-header-padding-block-1024-1920-hover);
      padding-block-start: var(
        --yl-text-header-padding-block-start-1024-1920-hover
      );
      padding-block-end: var(
        --yl-text-header-padding-block-end-1024-1920-hover
      );
      margin: var(--yl-text-header-margin-1024-1920-hover);
      margin-inline: var(--yl-text-header-margin-inline-1024-1920-hover);
      margin-inline-start: var(
        --yl-text-header-margin-inline-start-1024-1920-hover
      );
      margin-inline-end: var(
        --yl-text-header-margin-inline-end-1024-1920-hover
      );
      margin-block: var(--yl-text-header-margin-block-1024-1920-hover);
      margin-block-start: var(
        --yl-text-header-margin-block-start-1024-1920-hover
      );
      margin-block-end: var(--yl-text-header-margin-block-end-1024-1920-hover);
      color: var(--yl-text-header-color-1024-1920-hover);
      font-size: var(--yl-text-header-font-size-1024-1920-hover);
      line-height: var(--yl-text-header-line-height-1024-1920-hover);
      font-weight: var(--yl-text-header-font-weight-1024-1920-hover);
      font-family: var(--yl-text-header-font-family-1024-1920-hover);
      text-transform: var(--yl-text-header-text-transform-1024-1920-hover);
      text-align: var(--yl-text-header-text-align-1024-1920-hover);
      text-shadow: var(--yl-text-header-text-shadow-1024-1920-hover);
      text-decoration: var(--yl-text-header-text-decoration-1024-1920-hover);
    }

    [data-parent-hover="true"]:hover .yl-text-header:hover {
      inline-size: var(--yl-text-header-inline-size-1024-1920-hover);
      block-size: var(--yl-text-header-block-size-1024-1920-hover);
      padding: var(--yl-text-header-padding-1024-1920-hover);
      padding-inline: var(--yl-text-header-padding-inline-1024-1920-hover);
      padding-inline-start: var(
        --yl-text-header-padding-inline-start-1024-1920-hover
      );
      padding-inline-end: var(
        --yl-text-header-padding-inline-end-1024-1920-hover
      );
      padding-block: var(--yl-text-header-padding-block-1024-1920-hover);
      padding-block-start: var(
        --yl-text-header-padding-block-start-1024-1920-hover
      );
      padding-block-end: var(
        --yl-text-header-padding-block-end-1024-1920-hover
      );
      margin: var(--yl-text-header-margin-1024-1920-hover);
      margin-inline: var(--yl-text-header-margin-inline-1024-1920-hover);
      margin-inline-start: var(
        --yl-text-header-margin-inline-start-1024-1920-hover
      );
      margin-inline-end: var(
        --yl-text-header-margin-inline-end-1024-1920-hover
      );
      margin-block: var(--yl-text-header-margin-block-1024-1920-hover);
      margin-block-start: var(
        --yl-text-header-margin-block-start-1024-1920-hover
      );
      margin-block-end: var(--yl-text-header-margin-block-end-1024-1920-hover);
      color: var(--yl-text-header-color-1024-1920-hover);
      font-size: var(--yl-text-header-font-size-1024-1920-hover);
      line-height: var(--yl-text-header-line-height-1024-1920-hover);
      font-weight: var(--yl-text-header-font-weight-1024-1920-hover);
      font-family: var(--yl-text-header-font-family-1024-1920-hover);
      text-transform: var(--yl-text-header-text-transform-1024-1920-hover);
      text-align: var(--yl-text-header-text-align-1024-1920-hover);
      text-shadow: var(--yl-text-header-text-shadow-1024-1920-hover);
      text-decoration: var(--yl-text-header-text-decoration-1024-1920-hover);
    }

    /**********************ParentHoverVars****************************/
    /**********************************************************/
    .yl-text-header {
      --yl-text-header-inline-size-1024-1920-parent-hover: var(
        --yl-text-header-inline-size-parent-hover
      );
      --yl-text-header-block-size-1024-1920-parent-hover: var(
        --yl-text-header-block-size-parent-hover
      );
      --yl-text-header-padding-1024-1920-parent-hover: var(
        --yl-text-header-padding-parent-hover
      );
      --yl-text-header-padding-inline-1024-1920-parent-hover: var(
        --yl-text-header-padding-inline-parent-hover
      );
      --yl-text-header-padding-inline-start-1024-1920-parent-hover: var(
        --yl-text-header-padding-inline-start-parent-hover
      );
      --yl-text-header-padding-inline-end-1024-1920-parent-hover: var(
        --yl-text-header-padding-inline-end-parent-hover
      );
      --yl-text-header-padding-block-1024-1920-parent-hover: var(
        --yl-text-header-padding-block-parent-hover
      );
      --yl-text-header-padding-block-start-1024-1920-parent-hover: var(
        --yl-text-header-padding-block-start-parent-hover
      );
      --yl-text-header-padding-block-end-1024-1920-parent-hover: var(
        --yl-text-header-padding-block-end-parent-hover
      );
      --yl-text-header-margin-1024-1920-parent-hover: var(
        --yl-text-header-margin-parent-hover
      );
      --yl-text-header-margin-inline-1024-1920-parent-hover: var(
        --yl-text-header-margin-inline-parent-hover
      );
      --yl-text-header-margin-inline-start-1024-1920-parent-hover: var(
        --yl-text-header-margin-inline-start-parent-hover
      );
      --yl-text-header-margin-inline-end-1024-1920-parent-hover: var(
        --yl-text-header-margin-inline-end-parent-hover
      );
      --yl-text-header-margin-block-1024-1920-parent-hover: var(
        --yl-text-header-margin-block-parent-hover
      );
      --yl-text-header-margin-block-start-1024-1920-parent-hover: var(
        --yl-text-header-margin-block-start-parent-hover
      );
      --yl-text-header-margin-block-end-1024-1920-parent-hover: var(
        --yl-text-header-margin-block-end-parent-hover
      );
      --yl-text-header-color-1024-1920-parent-hover: var(
        --yl-text-header-color-parent-hover
      );
      --yl-text-header-font-size-1024-1920-parent-hover: var(
        --yl-text-header-font-size-parent-hover
      );
      --yl-text-header-line-height-1024-1920-parent-hover: var(
        --yl-text-header-line-height-parent-hover
      );
      --yl-text-header-font-weight-1024-1920-parent-hover: var(
        --yl-text-header-font-weight-parent-hover
      );
      --yl-text-header-font-family-1024-1920-parent-hover: var(
        --yl-text-header-font-family-parent-hover
      );
      --yl-text-header-text-transform-1024-1920-parent-hover: var(
        --yl-text-header-text-transform-parent-hover
      );
      --yl-text-header-text-shadow-1024-1920-parent-hover: var(
        --yl-text-header-text-shadow-parent-hover
      );
      --yl-text-header-text-align-1024-1920-parent-hover: var(
        --yl-text-header-text-align-parent-hover
      );
      --yl-text-header-text-decoration-1024-1920-parent-hover: var(
        --yl-text-header-text-decoration-parent-hover
      );
    }
    /**************************ParentHoverStyles********************************/
    /**********************************************************/
    [data-parent-hover="true"]:hover .yl-text-header {
      inline-size: var(--yl-text-header-inline-size-1024-1920-parent-hover);
      block-size: var(--yl-text-header-block-size-1024-1920-parent-hover);
      padding: var(--yl-text-header-padding-1024-1920-parent-hover);
      padding-inline: var(
        --yl-text-header-padding-inline-1024-1920-parent-hover
      );
      padding-inline-start: var(
        --yl-text-header-padding-inline-start-1024-1920-parent-hover
      );
      padding-inline-end: var(
        --yl-text-header-padding-inline-end-1024-1920-parent-hover
      );
      padding-block: var(--yl-text-header-padding-block-1024-1920-parent-hover);
      padding-block-start: var(
        --yl-text-header-padding-block-start-1024-1920-parent-hover
      );
      padding-block-end: var(
        --yl-text-header-padding-block-end-1024-1920-parent-hover
      );
      margin: var(--yl-text-header-margin-1024-1920-parent-hover);
      margin-inline: var(--yl-text-header-margin-inline-1024-1920-parent-hover);
      margin-inline-start: var(
        --yl-text-header-margin-inline-start-1024-1920-parent-hover
      );
      margin-inline-end: var(
        --yl-text-header-margin-inline-end-1024-1920-parent-hover
      );
      margin-block: var(--yl-text-header-margin-block-1024-1920-parent-hover);
      margin-block-start: var(
        --yl-text-header-margin-block-start-1024-1920-parent-hover
      );
      margin-block-end: var(
        --yl-text-header-margin-block-end-1024-1920-parent-hover
      );
      color: var(--yl-text-header-color-1024-1920-parent-hover);
      font-size: var(--yl-text-header-font-size-1024-1920-parent-hover);
      line-height: var(--yl-text-header-line-height-1024-1920-parent-hover);
      font-weight: var(--yl-text-header-font-weight-1024-1920-parent-hover);
      font-family: var(--yl-text-header-font-family-1024-1920-parent-hover);
      text-transform: var(
        --yl-text-header-text-transform-1024-1920-parent-hover
      );
      text-align: var(--yl-text-header-text-align-1024-1920-parent-hover);
      text-shadow: var(--yl-text-header-text-shadow-1024-1920-parent-hover);
      text-decoration: var(
        --yl-text-header-text-decoration-1024-1920-parent-hover
      );
    }

    /**********************ChildHoverVars****************************/
    /**********************************************************/
    .yl-text-header {
      --yl-text-header-inline-size-1024-1920-child-hover: var(
        --yl-text-header-inline-size-child-hover
      );
      --yl-text-header-block-size-1024-1920-child-hover: var(
        --yl-text-header-block-size-child-hover
      );
      --yl-text-header-padding-1024-1920-child-hover: var(
        --yl-text-header-padding-child-hover
      );
      --yl-text-header-padding-inline-1024-1920-child-hover: var(
        --yl-text-header-padding-inline-child-hover
      );
      --yl-text-header-padding-inline-start-1024-1920-child-hover: var(
        --yl-text-header-padding-inline-start-child-hover
      );
      --yl-text-header-padding-inline-end-1024-1920-child-hover: var(
        --yl-text-header-padding-inline-end-child-hover
      );
      --yl-text-header-padding-block-1024-1920-child-hover: var(
        --yl-text-header-padding-block-child-hover
      );
      --yl-text-header-padding-block-start-1024-1920-child-hover: var(
        --yl-text-header-padding-block-start-child-hover
      );
      --yl-text-header-padding-block-end-1024-1920-child-hover: var(
        --yl-text-header-padding-block-end-child-hover
      );
      --yl-text-header-margin-1024-1920-child-hover: var(
        --yl-text-header-margin-child-hover
      );
      --yl-text-header-margin-inline-1024-1920-child-hover: var(
        --yl-text-header-margin-inline-child-hover
      );
      --yl-text-header-margin-inline-start-1024-1920-child-hover: var(
        --yl-text-header-margin-inline-start-child-hover
      );
      --yl-text-header-margin-inline-end-1024-1920-child-hover: var(
        --yl-text-header-margin-inline-end-child-hover
      );
      --yl-text-header-margin-block-1024-1920-child-hover: var(
        --yl-text-header-margin-block-child-hover
      );
      --yl-text-header-margin-block-start-1024-1920-child-hover: var(
        --yl-text-header-margin-block-start-child-hover
      );
      --yl-text-header-margin-block-end-1024-1920-child-hover: var(
        --yl-text-header-margin-block-end-child-hover
      );
      --yl-text-header-color-1024-1920-child-hover: var(
        --yl-text-header-color-child-hover
      );
      --yl-text-header-font-size-1024-1920-child-hover: var(
        --yl-text-header-font-size-child-hover
      );
      --yl-text-header-line-height-1024-1920-child-hover: var(
        --yl-text-header-line-height-child-hover
      );
      --yl-text-header-font-weight-1024-1920-child-hover: var(
        --yl-text-header-font-weight-child-hover
      );
      --yl-text-header-font-family-1024-1920-child-hover: var(
        --yl-text-header-font-family-child-hover
      );
      --yl-text-header-text-transform-1024-1920-child-hover: var(
        --yl-text-header-text-transform-child-hover
      );
      --yl-text-header-text-shadow-1024-1920-child-hover: var(
        --yl-text-header-text-shadow-child-hover
      );
      --yl-text-header-text-align-1024-1920-child-hover: var(
        --yl-text-header-text-align-child-hover
      );
      --yl-text-header-text-decoration-1024-1920-child-hover: var(
        --yl-text-header-text-decoration-child-hover
      );
    }
    /**************************ChildHoverStyles********************************/
    /**********************************************************/
    .yl-text-header:has([data-child-hover="true"]:hover) {
      inline-size: var(--yl-text-header-inline-size-1024-1920-child-hover);
      block-size: var(--yl-text-header-block-size-1024-1920-child-hover);
      padding: var(--yl-text-header-padding-1024-1920-child-hover);
      padding-inline: var(
        --yl-text-header-padding-inline-1024-1920-child-hover
      );
      padding-inline-start: var(
        --yl-text-header-padding-inline-start-1024-1920-child-hover
      );
      padding-inline-end: var(
        --yl-text-header-padding-inline-end-1024-1920-child-hover
      );
      padding-block: var(--yl-text-header-padding-block-1024-1920-child-hover);
      padding-block-start: var(
        --yl-text-header-padding-block-start-1024-1920-child-hover
      );
      padding-block-end: var(
        --yl-text-header-padding-block-end-1024-1920-child-hover
      );
      margin: var(--yl-text-header-margin-1024-1920-child-hover);
      margin-inline: var(--yl-text-header-margin-inline-1024-1920-child-hover);
      margin-inline-start: var(
        --yl-text-header-margin-inline-start-1024-1920-child-hover
      );
      margin-inline-end: var(
        --yl-text-header-margin-inline-end-1024-1920-child-hover
      );
      margin-block: var(--yl-text-header-margin-block-1024-1920-child-hover);
      margin-block-start: var(
        --yl-text-header-margin-block-start-1024-1920-child-hover
      );
      margin-block-end: var(
        --yl-text-header-margin-block-end-1024-1920-child-hover
      );
      color: var(--yl-text-header-color-1024-1920-child-hover);
      font-size: var(--yl-text-header-font-size-1024-1920-child-hover);
      line-height: var(--yl-text-header-line-height-1024-1920-child-hover);
      font-weight: var(--yl-text-header-font-weight-1024-1920-child-hover);
      font-family: var(--yl-text-header-font-family-1024-1920-child-hover);
      text-transform: var(
        --yl-text-header-text-transform-1024-1920-child-hover
      );
      text-align: var(--yl-text-header-text-align-1024-1920-child-hover);
      text-shadow: var(--yl-text-header-text-shadow-1024-1920-child-hover);
      text-decoration: var(
        --yl-text-header-text-decoration-1024-1920-child-hover
      );
    }

    /**********************ActiveVars****************************/
    /**********************************************************/
    .yl-text-header {
      --yl-text-header-inline-size-1024-1920-active: var(
        --yl-text-header-inline-size-active
      );
      --yl-text-header-block-size-1024-1920-active: var(
        --yl-text-header-block-size-active
      );
      --yl-text-header-padding-1024-1920-active: var(
        --yl-text-header-padding-active
      );
      --yl-text-header-padding-inline-1024-1920-active: var(
        --yl-text-header-padding-inline-active
      );
      --yl-text-header-padding-inline-start-1024-1920-active: var(
        --yl-text-header-padding-inline-start-active
      );
      --yl-text-header-padding-inline-end-1024-1920-active: var(
        --yl-text-header-padding-inline-end-active
      );
      --yl-text-header-padding-block-1024-1920-active: var(
        --yl-text-header-padding-block-active
      );
      --yl-text-header-padding-block-start-1024-1920-active: var(
        --yl-text-header-padding-block-start-active
      );
      --yl-text-header-padding-block-end-1024-1920-active: var(
        --yl-text-header-padding-block-end-active
      );
      --yl-text-header-margin-1024-1920-active: var(
        --yl-text-header-margin-active
      );
      --yl-text-header-margin-inline-1024-1920-active: var(
        --yl-text-header-margin-inline-active
      );
      --yl-text-header-margin-inline-start-1024-1920-active: var(
        --yl-text-header-margin-inline-start-active
      );
      --yl-text-header-margin-inline-end-1024-1920-active: var(
        --yl-text-header-margin-inline-end-active
      );
      --yl-text-header-margin-block-1024-1920-active: var(
        --yl-text-header-margin-block-active
      );
      --yl-text-header-margin-block-start-1024-1920-active: var(
        --yl-text-header-margin-block-start-active
      );
      --yl-text-header-margin-block-end-1024-1920-active: var(
        --yl-text-header-margin-block-end-active
      );
      --yl-text-header-color-1024-1920-active: var(
        --yl-text-header-color-active
      );
      --yl-text-header-font-size-1024-1920-active: var(
        --yl-text-header-font-size-active
      );
      --yl-text-header-line-height-1024-1920-active: var(
        --yl-text-header-line-height-active
      );
      --yl-text-header-font-weight-1024-1920-active: var(
        --yl-text-header-font-weight-active
      );
      --yl-text-header-font-family-1024-1920-active: var(
        --yl-text-header-font-family-active
      );
      --yl-text-header-text-transform-1024-1920-active: var(
        --yl-text-header-text-transform-active
      );
      --yl-text-header-text-shadow-1024-1920-active: var(
        --yl-text-header-text-shadow-active
      );
      --yl-text-header-text-align-1024-1920-active: var(
        --yl-text-header-text-align-active
      );
      --yl-text-header-text-decoration-1024-1920-active: var(
        --yl-text-header-text-decoration-active
      );
    }
    /**************************ActiveStyles********************************/
    /**********************************************************/
    .yl-text-header:active {
      inline-size: var(--yl-text-header-inline-size-1024-1920-active);
      block-size: var(--yl-text-header-block-size-1024-1920-active);
      padding: var(--yl-text-header-padding-1024-1920-active);
      padding-inline: var(--yl-text-header-padding-inline-1024-1920-active);
      padding-inline-start: var(
        --yl-text-header-padding-inline-start-1024-1920-active
      );
      padding-inline-end: var(
        --yl-text-header-padding-inline-end-1024-1920-active
      );
      padding-block: var(--yl-text-header-padding-block-1024-1920-active);
      padding-block-start: var(
        --yl-text-header-padding-block-start-1024-1920-active
      );
      padding-block-end: var(
        --yl-text-header-padding-block-end-1024-1920-active
      );
      margin: var(--yl-text-header-margin-1024-1920-active);
      margin-inline: var(--yl-text-header-margin-inline-1024-1920-active);
      margin-inline-start: var(
        --yl-text-header-margin-inline-start-1024-1920-active
      );
      margin-inline-end: var(
        --yl-text-header-margin-inline-end-1024-1920-active
      );
      margin-block: var(--yl-text-header-margin-block-1024-1920-active);
      margin-block-start: var(
        --yl-text-header-margin-block-start-1024-1920-active
      );
      margin-block-end: var(--yl-text-header-margin-block-end-1024-1920-active);
      color: var(--yl-text-header-color-1024-1920-active);
      font-size: var(--yl-text-header-font-size-1024-1920-active);
      line-height: var(--yl-text-header-line-height-1024-1920-active);
      font-weight: var(--yl-text-header-font-weight-1024-1920-active);
      font-family: var(--yl-text-header-font-family-1024-1920-active);
      text-transform: var(--yl-text-header-text-transform-1024-1920-active);
      text-align: var(--yl-text-header-text-align-1024-1920-active);
      text-shadow: var(--yl-text-header-text-shadow-1024-1920-active);
      text-decoration: var(--yl-text-header-text-decoration-1024-1920-active);
    }

    [data-parent-active="true"]:active .yl-text-header:hover {
      inline-size: var(--yl-text-header-inline-size-1024-1920-parent-active);
      block-size: var(--yl-text-header-block-size-1024-1920-parent-active);
      padding: var(--yl-text-header-padding-1024-1920-parent-active);
      padding-inline: var(
        --yl-text-header-padding-inline-1024-1920-parent-active
      );
      padding-inline-start: var(
        --yl-text-header-padding-inline-start-1024-1920-parent-active
      );
      padding-inline-end: var(
        --yl-text-header-padding-inline-end-1024-1920-parent-active
      );
      padding-block: var(
        --yl-text-header-padding-block-1024-1920-parent-active
      );
      padding-block-start: var(
        --yl-text-header-padding-block-start-1024-1920-parent-active
      );
      padding-block-end: var(
        --yl-text-header-padding-block-end-1024-1920-parent-active
      );
      margin: var(--yl-text-header-margin-1024-1920-parent-active);
      margin-inline: var(
        --yl-text-header-margin-inline-1024-1920-parent-active
      );
      margin-inline-start: var(
        --yl-text-header-margin-inline-start-1024-1920-parent-active
      );
      margin-inline-end: var(
        --yl-text-header-margin-inline-end-1024-1920-parent-active
      );
      margin-block: var(--yl-text-header-margin-block-1024-1920-parent-active);
      margin-block-start: var(
        --yl-text-header-margin-block-start-1024-1920-parent-active
      );
      margin-block-end: var(
        --yl-text-header-margin-block-end-1024-1920-parent-active
      );
      color: var(--yl-text-header-color-1024-1920-parent-active);
      font-size: var(--yl-text-header-font-size-1024-1920-parent-active);
      line-height: var(--yl-text-header-line-height-1024-1920-parent-active);
      font-weight: var(--yl-text-header-font-weight-1024-1920-parent-active);
      font-family: var(--yl-text-header-font-family-1024-1920-parent-active);
      text-transform: var(
        --yl-text-header-text-transform-1024-1920-parent-active
      );
      text-align: var(--yl-text-header-text-align-1024-1920-parent-active);
      text-shadow: var(--yl-text-header-text-shadow-1024-1920-parent-active);
      text-decoration: var(
        --yl-text-header-text-decoration-1024-1920-parent-active
      );
    }

    /**********************ParentActiveVars****************************/
    /**********************************************************/
    .yl-text-header {
      --yl-text-header-inline-size-1024-1920-parent-active: var(
        --yl-text-header-inline-size-parent-active
      );
      --yl-text-header-block-size-1024-1920-parent-active: var(
        --yl-text-header-block-size-parent-active
      );
      --yl-text-header-padding-1024-1920-parent-active: var(
        --yl-text-header-padding-parent-active
      );
      --yl-text-header-padding-inline-1024-1920-parent-active: var(
        --yl-text-header-padding-inline-parent-active
      );
      --yl-text-header-padding-inline-start-1024-1920-parent-active: var(
        --yl-text-header-padding-inline-start-parent-active
      );
      --yl-text-header-padding-inline-end-1024-1920-parent-active: var(
        --yl-text-header-padding-inline-end-parent-active
      );
      --yl-text-header-padding-block-1024-1920-parent-active: var(
        --yl-text-header-padding-block-parent-active
      );
      --yl-text-header-padding-block-start-1024-1920-parent-active: var(
        --yl-text-header-padding-block-start-parent-active
      );
      --yl-text-header-padding-block-end-1024-1920-parent-active: var(
        --yl-text-header-padding-block-end-parent-active
      );
      --yl-text-header-margin-1024-1920-parent-active: var(
        --yl-text-header-margin-parent-active
      );
      --yl-text-header-margin-inline-1024-1920-parent-active: var(
        --yl-text-header-margin-inline-parent-active
      );
      --yl-text-header-margin-inline-start-1024-1920-parent-active: var(
        --yl-text-header-margin-inline-start-parent-active
      );
      --yl-text-header-margin-inline-end-1024-1920-parent-active: var(
        --yl-text-header-margin-inline-end-parent-active
      );
      --yl-text-header-margin-block-1024-1920-parent-active: var(
        --yl-text-header-margin-block-parent-active
      );
      --yl-text-header-margin-block-start-1024-1920-parent-active: var(
        --yl-text-header-margin-block-start-parent-active
      );
      --yl-text-header-margin-block-end-1024-1920-parent-active: var(
        --yl-text-header-margin-block-end-parent-active
      );
      --yl-text-header-color-1024-1920-parent-active: var(
        --yl-text-header-color-parent-active
      );
      --yl-text-header-font-size-1024-1920-parent-active: var(
        --yl-text-header-font-size-parent-active
      );
      --yl-text-header-line-height-1024-1920-parent-active: var(
        --yl-text-header-line-height-parent-active
      );
      --yl-text-header-font-weight-1024-1920-parent-active: var(
        --yl-text-header-font-weight-parent-active
      );
      --yl-text-header-font-family-1024-1920-parent-active: var(
        --yl-text-header-font-family-parent-active
      );
      --yl-text-header-text-transform-1024-1920-parent-active: var(
        --yl-text-header-text-transform-parent-active
      );
      --yl-text-header-text-shadow-1024-1920-parent-active: var(
        --yl-text-header-text-shadow-parent-active
      );
      --yl-text-header-text-align-1024-1920-parent-active: var(
        --yl-text-header-text-align-parent-active
      );
      --yl-text-header-text-decoration-1024-1920-parent-active: var(
        --yl-text-header-text-decoration-parent-active
      );
    }
    /**************************ParentActiveStyles********************************/
    /**********************************************************/
    [data-parent-active="true"]:active .yl-text-header {
      inline-size: var(--yl-text-header-inline-size-1024-1920-parent-active);
      block-size: var(--yl-text-header-block-size-1024-1920-parent-active);
      padding: var(--yl-text-header-padding-1024-1920-parent-active);
      padding-inline: var(
        --yl-text-header-padding-inline-1024-1920-parent-active
      );
      padding-inline-start: var(
        --yl-text-header-padding-inline-start-1024-1920-parent-active
      );
      padding-inline-end: var(
        --yl-text-header-padding-inline-end-1024-1920-parent-active
      );
      padding-block: var(
        --yl-text-header-padding-block-1024-1920-parent-active
      );
      padding-block-start: var(
        --yl-text-header-padding-block-start-1024-1920-parent-active
      );
      padding-block-end: var(
        --yl-text-header-padding-block-end-1024-1920-parent-active
      );
      margin: var(--yl-text-header-margin-1024-1920-parent-active);
      margin-inline: var(
        --yl-text-header-margin-inline-1024-1920-parent-active
      );
      margin-inline-start: var(
        --yl-text-header-margin-inline-start-1024-1920-parent-active
      );
      margin-inline-end: var(
        --yl-text-header-margin-inline-end-1024-1920-parent-active
      );
      margin-block: var(--yl-text-header-margin-block-1024-1920-parent-active);
      margin-block-start: var(
        --yl-text-header-margin-block-start-1024-1920-parent-active
      );
      margin-block-end: var(
        --yl-text-header-margin-block-end-1024-1920-parent-active
      );
      color: var(--yl-text-header-color-1024-1920-parent-active);
      font-size: var(--yl-text-header-font-size-1024-1920-parent-active);
      line-height: var(--yl-text-header-line-height-1024-1920-parent-active);
      font-weight: var(--yl-text-header-font-weight-1024-1920-parent-active);
      font-family: var(--yl-text-header-font-family-1024-1920-parent-active);
      text-transform: var(
        --yl-text-header-text-transform-1024-1920-parent-active
      );
      text-align: var(--yl-text-header-text-align-1024-1920-parent-active);
      text-shadow: var(--yl-text-header-text-shadow-1024-1920-parent-active);
      text-decoration: var(
        --yl-text-header-text-decoration-1024-1920-parent-active
      );
    }

    /**********************ChildActiveVars****************************/
    /**********************************************************/
    .yl-text-header {
      --yl-text-header-inline-size-1024-1920-child-active: var(
        --yl-text-header-inline-size-child-active
      );
      --yl-text-header-block-size-1024-1920-child-active: var(
        --yl-text-header-block-size-child-active
      );
      --yl-text-header-padding-1024-1920-child-active: var(
        --yl-text-header-padding-child-active
      );
      --yl-text-header-padding-inline-1024-1920-child-active: var(
        --yl-text-header-padding-inline-child-active
      );
      --yl-text-header-padding-inline-start-1024-1920-child-active: var(
        --yl-text-header-padding-inline-start-child-active
      );
      --yl-text-header-padding-inline-end-1024-1920-child-active: var(
        --yl-text-header-padding-inline-end-child-active
      );
      --yl-text-header-padding-block-1024-1920-child-active: var(
        --yl-text-header-padding-block-child-active
      );
      --yl-text-header-padding-block-start-1024-1920-child-active: var(
        --yl-text-header-padding-block-start-child-active
      );
      --yl-text-header-padding-block-end-1024-1920-child-active: var(
        --yl-text-header-padding-block-end-child-active
      );
      --yl-text-header-margin-1024-1920-child-active: var(
        --yl-text-header-margin-child-active
      );
      --yl-text-header-margin-inline-1024-1920-child-active: var(
        --yl-text-header-margin-inline-child-active
      );
      --yl-text-header-margin-inline-start-1024-1920-child-active: var(
        --yl-text-header-margin-inline-start-child-active
      );
      --yl-text-header-margin-inline-end-1024-1920-child-active: var(
        --yl-text-header-margin-inline-end-child-active
      );
      --yl-text-header-margin-block-1024-1920-child-active: var(
        --yl-text-header-margin-block-child-active
      );
      --yl-text-header-margin-block-start-1024-1920-child-active: var(
        --yl-text-header-margin-block-start-child-active
      );
      --yl-text-header-margin-block-end-1024-1920-child-active: var(
        --yl-text-header-margin-block-end-child-active
      );
      --yl-text-header-color-1024-1920-child-active: var(
        --yl-text-header-color-child-active
      );
      --yl-text-header-font-size-1024-1920-child-active: var(
        --yl-text-header-font-size-child-active
      );
      --yl-text-header-line-height-1024-1920-child-active: var(
        --yl-text-header-line-height-child-active
      );
      --yl-text-header-font-weight-1024-1920-child-active: var(
        --yl-text-header-font-weight-child-active
      );
      --yl-text-header-font-family-1024-1920-child-active: var(
        --yl-text-header-font-family-child-active
      );
      --yl-text-header-text-transform-1024-1920-child-active: var(
        --yl-text-header-text-transform-child-active
      );
      --yl-text-header-text-shadow-1024-1920-child-active: var(
        --yl-text-header-text-shadow-child-active
      );
      --yl-text-header-text-align-1024-1920-child-active: var(
        --yl-text-header-text-align-child-active
      );
      --yl-text-header-text-decoration-1024-1920-child-active: var(
        --yl-text-header-text-decoration-child-active
      );
    }
    /**************************ChildActiveStyles********************************/
    /**********************************************************/
    .yl-text-header:has([data-child-active="true"]:active) {
      inline-size: var(--yl-text-header-inline-size-1024-1920-child-active);
      block-size: var(--yl-text-header-block-size-1024-1920-child-active);
      padding: var(--yl-text-header-padding-1024-1920-child-active);
      padding-inline: var(
        --yl-text-header-padding-inline-1024-1920-child-active
      );
      padding-inline-start: var(
        --yl-text-header-padding-inline-start-1024-1920-child-active
      );
      padding-inline-end: var(
        --yl-text-header-padding-inline-end-1024-1920-child-active
      );
      padding-block: var(--yl-text-header-padding-block-1024-1920-child-active);
      padding-block-start: var(
        --yl-text-header-padding-block-start-1024-1920-child-active
      );
      padding-block-end: var(
        --yl-text-header-padding-block-end-1024-1920-child-active
      );
      margin: var(--yl-text-header-margin-1024-1920-child-active);
      margin-inline: var(--yl-text-header-margin-inline-1024-1920-child-active);
      margin-inline-start: var(
        --yl-text-header-margin-inline-start-1024-1920-child-active
      );
      margin-inline-end: var(
        --yl-text-header-margin-inline-end-1024-1920-child-active
      );
      margin-block: var(--yl-text-header-margin-block-1024-1920-child-active);
      margin-block-start: var(
        --yl-text-header-margin-block-start-1024-1920-child-active
      );
      margin-block-end: var(
        --yl-text-header-margin-block-end-1024-1920-child-active
      );
      color: var(--yl-text-header-color-1024-1920-child-active);
      font-size: var(--yl-text-header-font-size-1024-1920-child-active);
      line-height: var(--yl-text-header-line-height-1024-1920-child-active);
      font-weight: var(--yl-text-header-font-weight-1024-1920-child-active);
      font-family: var(--yl-text-header-font-family-1024-1920-child-active);
      text-transform: var(
        --yl-text-header-text-transform-1024-1920-child-active
      );
      text-align: var(--yl-text-header-text-align-1024-1920-child-active);
      text-shadow: var(--yl-text-header-text-shadow-1024-1920-child-active);
      text-decoration: var(
        --yl-text-header-text-decoration-1024-1920-child-active
      );
    }
  }
}
